/**
 * ChatBubble.scss
 * This SASS module contains styles for the ChatBubble.js React Component.
 */

@import "globals";

.chat-bubble-container {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

/**
 * This class holds the CSS rules for chat bubbles regardless of if the
 * message is from me or from the other person.
 */
.chat-bubble {
  margin-top: 5px;
  line-height: 1.35em;
  max-width: 75%;
  padding: 7px 15px;
  border-radius: 20px;
  white-space: pre-line;
  overflow-wrap: break-word;
}

.sender-name {
  margin-top: 5px;
  padding: 0 8px;
  font-size: 0.9em;
  opacity: 0.5;
}

/**
 * Chat bubbles for messages sent by me.
 */
.from-me {
  text-align: right;
  align-items: flex-end;

  .sender-name {
    opacity: 0;
  }

  .chat-bubble {
    @include primary-color-scheme;
  }
}

/**
 * Chat bubbles for messages sent from the other person.
 */
.from-them {
  text-align: left;
  align-items: flex-start;

  .chat-bubble {
    background-color: $secondary-color;
    color: #202020;
  }
}

.chat-bubble-link {
  color: inherit;
  text-decoration: underline;

  &:hover, &:active, &:focus {
    color: inherit;
  }
}
