/**
 * ChatInput.scss
 * This file contains CSS styling for the bottom part of the chat box where
 * the text input and send button is.
 */
@import "globals";

#chat-input {
  background-color: $secondary-color;
  border-top: 1px solid darken($secondary-color, 10%);
  clear: both;
  padding: 7px;

  /**
   * A wrapper for the input field and send button
   */
  .input-group {
    border-radius: 20px;
    border: 1px solid darken($secondary-color, 10%);
    background-color: white;
    padding: 1px;
  }

  .text-input {
    width: 100%;
    padding: 0 10px;
    background: none;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .send-btn {
    background: none;
    border: none;
    padding: 0;
    font-size: 14px;

    /**
     * The background is created by stacking the arrow on a circle icon,
     * so that's why we use color, instead of background-color here.
     */
    color: $primary-color;

    &:active {
      color: darken($primary-color, 20%);
    }

    &:focus {
      outline: none;
    }
  }

  .fa-arrow-right {
    color: white;
  }
}
