.thread-item {
  padding: 15px;
  cursor: pointer;

  &.current, &:hover {
    background: rgba(black, 0.05);
  }

  .top-row {
    display: flex;
  }

  .title {
    font-weight: bold;
  }

  .time, .last-msg {
    color: #a7a7a7;
  }

  .time {
    text-align: right;
    flex-grow: 1;
  }
}
